/.venv/
/.idea/
.idea/workspace.xml

imageclassification/data/

imageclassification/data1/
imageclassification/saved/datasets
imageclassification/__pycache__
imageclassification/modules/__pycache__
imageclassification/models/__pycache__
